#subscription{
  text-decoration: underline;
  font-size: 2rem;
}

#subscriptionDiv{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px;
}

.userPhotoDiv{
  display: block;
  width: 100px;
  height: auto;
  overflow: hidden;

  & img {
    width: 100%;
    height: auto;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

#myRatings{
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

















































































































.bottomList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 20px;
  margin: 0px 20px;

  & li {
    list-style-type: none;
    border-bottom: 1px solid gray;
    padding: 8px 15px;
    margin: 10px 15px;
  }
}