/*colors*/
/*var1 - green*/
/*var2 - blue dark*/
/*var3 - cold light*/
/*var4 - cold dark*/
/*var5 - warm light*/
/*var5 - warm dark*/
/*var6*/
/*main setting*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #b5b5b5;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #161616;
  font-size: 10px;
}

body {
  font-size: 1.5rem;
}

img {
  background-size: cover;
}

#container {
  width: 94%;
  height: auto;
  margin: 0px auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #161616;
}

#mainContent {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.myButton {
  display: inline-block;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: 1px solid gray;
  padding: 8px 15px;
  margin: 10px 15px;
  color: gray;
}
.myButton:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}
.myButton:active {
  background-color: black;
}

.textIndent {
  text-indent: 1rem;
}

#ner {
  background-color: black;
}

aside {
  z-index: 100600;
}

/*category*/
.divCategory {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}

.divCatalog {
  width: 29%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.categoryCatalog {
  display: block;
  width: 100%;
}

.divFormCost {
  width: 100%;
  padding: 20px 10px;
}

.h1Filter {
  text-align: center;
  margin: 20px 0px;
  text-decoration: underline;
}

.divMainCatalog {
  width: 69%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.divFilter {
  padding: 5px;
  font-size: 1.5rem;
}
.divFilter input {
  margin-left: 15px;
}

.ui.inverted.form .ui.checkbox label, .ui.inverted.form label {
  font-size: 1.5rem;
}

.ui.image img {
  margin-left: 20px;
}

@media screen and (max-width: 940px) {
  .divCatalog {
    width: 45%;
  }

  .divMainCatalog {
    width: 54%;
  }
}
@media screen and (max-width: 750px) {
  .divCatalog {
    width: 100%;
  }

  .divMainCatalog {
    width: 100%;
  }

  .categoryCatalog {
    display: none;
  }
}
#panel {
  position: fixed;
  top: 70px;
  left: -5px;
  background: #4b0b31;
  width: 35px;
  height: 250px;
  font: 14px Arial;
  color: #fff;
  text-align: center;
  padding: 5px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  z-index: 100550;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

#hidden_panel {
  position: fixed;
  top: 70px;
  left: -250px;
  background: #333333;
  color: #000;
  width: 250px;
  height: 250px;
  padding: 10px;
  text-align: left;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 100551;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

#panel:hover {
  left: 250px;
  z-index: 100550;
}

#panel:hover #hidden_panel {
  left: 0;
  z-index: 100550;
}

#chatField {
  display: flex;
  width: 100%;
  height: 200px;
  flex-wrap: wrap;
  padding: 7px;
  background-color: black;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border: 1px solid gray;
  overflow: auto;
}
#chatField li {
  list-style-type: none;
  display: flex;
  width: 100%;
  height: auto;
  padding: 5px 10px;
  margin: 10px 0px;
  color: black;
}

#chatForm {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0px 5px;
}

.firstMessage {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 50px 50px 50px 0px;
  background-color: fuchsia;
}

.secondMessage {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border-radius: 50px 50px 0px 50px;
  background-color: blue;
}

#vort {
  margin: 0px;
  border-radius: 0 0 5px 0px;
}

/*# sourceMappingURL=chat.css.map */
