#mainRem2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#rem2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: auto;
}

#eee2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 69%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.dropdownFlex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#myAccordion{
  display: block;
  width: 100%;
}